
mixin checkbox(checkboxId,checkboxVal,checked)
    .checkbox-input-wrapper
        label.checkbox-label
            input(type='checkbox' class='checkbox-input' id=checkboxId checked=checked)
            .checkbox-text #{checkboxVal}