include ../../modules/input/input
include ../../modules/dropdown/dropdown
.text-data-inputs
    +input-text('TEXT FIELD','Email','DEFAULT','')
    +input-text('TEXT FIELD','Email','hover/focus','This is pretty awesome',true)
    +dropdown('text field','Сколько гостей','default',['1','2','3','e','dffghddfg'],true)