mixin input-text(labelInput,placeholderInput,capchaInput)
    .input-text
        label.label 
            h3=labelInput
            .capcha-input=capchaInput
            input.input(type=text placeholder=placeholderInput)


        