div{ 
    width: 100px;
    height: 100px;
    .q{
        background-color: @var-color-dark-shade-100;
        border: 1px solid black;
    }
    .w{
        background-color: @var-color-dark-shade-75;
    }
} .q{
    background-color: @var-color-dark-shade-100;
    border: 12px solid black;
}
.w{
    background-color: @var-color-dark-shade-75;
}