include ../../modules/checkbox/checkbox
.checkbox-inputs-wrapper
    form(action="#")
        +checkbox('checkbox-test-1','можно курить')
        +checkbox('checkbox-test-2','можно с питомцами','checked')
        +checkbox('checkbox-test-3','можно пригласить гостей (до 10 человек)','checked')
