.checkbox-inputs-wrapper {
    padding-left: 100px;

    .checkbox-inputs__checkbox {
        h3 {
            margin-bottom: -7px;
        }

        .checkbox-input-wrapper {
            padding-bottom: 10px;
        }
    }

    .checkbox-inputs__radio-buttons {
        padding-top: 75px;
    }
}