doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        link(rel='icon' href='favicon.ico' type='image/ico')
        title practice verstka ui-kit
    body
        #root
            .ui-kit
                section.ui-kit__colors-types
                    .ui-kit__logo
                    include ../includes/ui-kit/colors/colors                        
                    include ../includes/ui-kit/font-types/font-types
                section.ui-kit__form-elements
                    .ui-kit__logo
                    include ../includes/ui-kit/text-data-inputs/text-data-inputs
                section.ui-kit__cards
                    .ui-kit__logo
                section.ui-kit__headers-footers
                    .ui-kit__logo
