- const classes = ['100','75','50','25','5','purple','green']

.ui-kit__colors
    each val, index in classes        
        div(class='color'+val)
            .color__rectangle    
            if val == 'purple' || val == 'green'             
                .color__capcha
                    h1 Dark Shade #{val}
                    if val =='purple'
                        h1 #BC9CFF
                    else
                        h1 #6FCF97
            else    
                .color__capcha
                    h1 Dark Shade #{val}%
                    h1 #F2041
