.ui-kit__type-text-wrap
    .h1-container
        .h1-container__h1 H1
        .h1-container__h1-text
            h1 This one is the sub-section or widget title
    .h2-container
        .h2-container__h2 H2
        .h2-container__h2-text
            h2 Next one is the item title inside widgets
    .h3-container 
        .h3-container__h3 H3
        .h3-container__h3-text
            h3 this is label or cta text
    .body-container
        .body-container__body Body
        .body-container__body-text This is the body text which is used for most of the design, like paragraphs, lists, etc.

